.Track{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256,256,256,0.8);
}

.Track-action{
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.05rem;
    transition: color 0.25s;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: aliceblue;
}

